@import "../../../styles/global";

section{
  width: 100%;
  height: 100%;

  //padding: 5px;

  display: flex;
  flex-direction: column;
  gap: 0px;
}



.top-bar, .list{
  padding: 0px;
}

.top-bar{
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter{
  display: flex;
  flex-direction: row;
  gap: 5px;

  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.filter > *{
  flex: 1 1;
}

.list{
  height: 80%;

  //display: flex;
  //flex-direction: column;
  //gap: 5px;

  overflow-y: scroll;
  overflow-x: hidden;
}

.list > *{
  transition: all 0.2s ease;
  user-select: none;
  //cursor: pointer;


}

.user,
.list{
  width: 100%;
}

.user{
  height: 70px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: max(2%, 5px);
  align-items: center;

  padding: 5px 10px;
  margin-bottom: 0px;
  user-select: none;
  //cursor: pointer;

  border-bottom: 1px solid lightgray;

  position: relative;
}

.icon{
  position:absolute;
  right: 10px;
  background-color: lightgray;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover{
    transform: scale(1.1);
  }
}


.image{
  display: flex;
  height: 90%;
  aspect-ratio: 1 / 1;
  background-color: white;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  position: relative;
}

.status-circle{
  box-sizing: content-box;
  position: absolute;
  width: 15px;
  aspect-ratio: 1 / 1 ;
  border-radius: 50%;
  background-color: grey;

  top: 65%;
  left: 65%;

  border: 5px solid darken($ag-secondary, 3);
}

.notification-circle{
  box-sizing: content-box;
  position: absolute;
  width: 24px;
  aspect-ratio: 1 / 1 ;
  border-radius: 50%;
  top: 66%;
  right: 65%;
  background-color: red;

  text-align: center;
  color: white;
  font-size: 0.7rem;
  line-height: 24px;
  padding: 0;
  margin: 0;
}

.green{
  background-color: green;
}

img{
  width: 100%;
}

.user-name{
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.selected-user{
  background-color: lightgray;
}

.search{
  width: 95%;
  align-self: center;
}
