section{
  height: 100%;
  width: 100%;

  //background-color: gray;
  display: flex;
  flex-direction: row;

  padding: 5px;
  gap: 5px;
}



.panel{
  padding: 5px;
}

.left-panel{
  flex-basis: 20%;
}

.main-panel{
  flex: 5;
  min-width: 5%;
  padding: 0;
}
