<form [formGroup]="loginForm" class="form" (ngSubmit)="onSubmit()">

  <h1>Login</h1>

  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
  </div>

  <div class="form-field">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" placeholder="Password">
    </mat-form-field>
  </div>

  <div class="form-footer">
    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Sign in</button>
    <span>Don't have an account ?</span>
    <a routerLink="/register">Create an account</a>
  </div>
</form>
