<section>
  <mat-list>
    <div class="list-header" mat-subheader>
      <span>Directories</span>
      <button (click)="openDialog('100ms', '100ms')" mat-raised-button>
        <mat-icon color="primary">add</mat-icon>
        <span>Add Directory</span>
      </button>
    </div>
    <mat-divider class="header-divider"></mat-divider>
    <div class="list">
      <div class="list-item" *ngFor="let dir of directories">
        <mat-list-item>
          <mat-icon mat-list-icon>folder</mat-icon>
          <div class="line" mat-line>
            <span class="dir-name">{{dir.name}}</span>
            <span class="dir-path">{{dir.path}}</span>
            <span class="dir-desc">{{dir.description}}</span>
          </div>
        </mat-list-item>
        <mat-divider></mat-divider>
      </div>

    </div>

  </mat-list>
</section>
