h1, .form-footer{
  align-self: center;
}

.form{
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  //padding-left: 5%;
  //padding-right: 5%;
  box-sizing: border-box;
}

.form-field{
  width: 95%;
}

.form-field > *{
  width: 100%;
}


.form-footer{
  width: 95%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

@media screen and (max-width: 520px) {
  .form-footer{
    flex-direction: column;
  }
}

@media screen and (min-width: 351px) {
  .form-field, .form-footer{
    width: 355px;
  }
}
