@import "../../styles/global";

$left-panel-width :350px;

section{
  height: 100%;
  width: 100%;

  //background-color: gray;
  display: flex;
  flex-direction: row;

  padding: 0px;
}



.panel{
  padding: 0px;
}

.left-panel{
  width:$left-panel-width;
  height: 100%;

  //border-right: 1px solid lightgray;
  background-color: darken($ag-secondary, 3);

  *{
    height: 100%;
  }
}

.main-panel{
  width: calc(100% - $left-panel-width);
  min-width: 5%;
  height: 100%;

  *{
    height: 100%;
  }
}
