<!--<section class="container-fluid main">-->
<!--  <div class="row h-100">-->
<!--    <div class="col-md-2 h-100">-->

<!--    </div>-->
<!--    <div class="col-md-8 h-100">-->
<!--      <mat-nav-list class="h-25 nav">-->
<!--        <a mat-list-item routerLink="/home/directories">Directories</a>-->
<!--        <a mat-list-item routerLink="/home/chat">Chat</a>-->
<!--      </mat-nav-list>-->
<!--      <div class="h-75">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="col-md-2 h-100">-->
<!--      <app-weather></app-weather>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<!--<section>
  <div class="left-panel panel">

  </div>
  <div class="middle-panel panel">
    <div class="card-adri top-bar">
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLink="/main/directories">Directories</a>
        <a mat-list-item routerLink="/main/chat">Chat</a>
      </mat-nav-list>
    </div>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="right-panel panel">
    <div class="card-adri weather">
      <app-weather></app-weather>
    </div>
  </div>
</section>-->
<section>
  <mat-nav-list class="nav-bar">
    <a mat-list-item routerLink="/main/directories">Directories</a>
    <a mat-list-item routerLink="/main/chat">Chat</a>
    <a mat-list-item routerLink="/main/finder">Finder</a>
  </mat-nav-list>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</section>

