section {
  width: 100%;
  padding-top: 2.5%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  flex-wrap: nowrap;
  gap: 0px;
  width: 330px;
}

.phoneInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.countryImage {
  width: 25px;
  flex-grow: 0;
}

.address {

  width: 100%;
  display: flex;
  gap: 10px;
  //justify-content: flex-start;
  //flex-wrap: wrap;
}

.address > .field {
  flex: 1 1 33% !important;
  min-width: 0;
}

.mat-form-field-infix{
  width: 100% !important;
}

.submit-button{
  width: 80px;
  align-self: center;
}

.zipCode{
  width: 20%;
}

@media screen and (min-width: 700px)  {
  form{
    width: 500px;
  }
}

mat-form-field.mat-form-field{
  padding: 0;
  margin: 0;
}

.phone-row{
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: fit-content;
}

.phone-row > .countryImage{
  align-self: center;
  //background-color: red;
  height: 100%;
  width: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;

}

.countryImage > img{
  width: 20px;
  aspect-ratio: 3 / 2;
}

.phone-row > .dial-code-form{
  width: 6ch;
}
