section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  height: 100%;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
  width: 100%;
}

.phoneInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.countryImage {
  width: 25px;
  flex-grow: 0;
}

.dialCode {
  border-style: none;
  width: fit-content;
  padding: 5px;
  padding-right: 0;
  border-radius: 10%;
  height: 100%;
  background-color: darken($color: #f5f5f5, $amount: 20);
  // box-sizing: border-box;
}

.phoneField > input:focus {
  background-color: red;
}

.skillField {
  display: flex;
  align-items: center;
}

.skillField > .field > button {
  height: 20px;
  width: 10px;
}

.field {
}

.address {
  display: flex;
  gap: 10px;
}

.address > * {
  flex-grow: 1;
}
