<link rel="stylesheet" href="register-form.component.scss">
<section>
  <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
    <mat-form-field appearance="fill" class="field">
      <mat-label for="firstName">First Name</mat-label>
      <input matInput id="firstName" formControlName="firstName">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="lastName">Last Name</mat-label>
      <input matInput id="lastName" formControlName="lastName">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="username">Username</mat-label>
      <input matInput id="username" formControlName="username">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="password">Password</mat-label>
      <input matInput type="password" id="password" formControlName="password">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="confirmPassword">Confirm password</mat-label>
      <input matInput type="password" id="confirmPassword" formControlName="confirmPassword">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="email">Email</mat-label>
      <input matInput type="email" id="email" formControlName="email">
    </mat-form-field>

    <mat-form-field appearance="fill" class="field">
      <mat-label for="birthDate">Birth Date</mat-label>
      <input matInput id="birthDate" formControlName="birthDate" type="date">
    </mat-form-field>
    <div class="address">
      <mat-form-field appearance="fill" class="field">
        <mat-label for="country">Country</mat-label>
        <input matInput id="country" formControlName="country" [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of _filteredCountries | async" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label for="street">Street</mat-label>
        <input matInput id="street" formControlName="street">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label for="city">City</mat-label>
        <input matInput id="city" formControlName="city">
      </mat-form-field>

      <mat-form-field appearance="fill" class="field">
        <mat-label for="zipCode">Zip Code</mat-label>
        <input matInput id="zipCode" formControlName="zipCode">
      </mat-form-field>
    </div>

    <mat-form-field appearance="fill" class="field phoneField">
      <!-- <mat-label class="phoneLabel" for="phoneNumber">Phone Number</mat-label> -->
      <div class="phoneInput">
        <img class="countryImage" [src]="countryFlag" alt="">
        <input [size]="3" class="dialCode" *ngIf="dialCode" formControlName="dialCode" readonly="readonly">
        <input matInput id="phoneNumber" mask="00 00 00 00 00" formControlName="phoneNumber" value="0"
          placeholder="Phone Number">
      </div>
    </mat-form-field>
    <div formArrayName="skills">
      <h2>Skills</h2>
      <button type="button" mat-raised-button color="primary" (click)="addSkill()">Add a skill</button>

      <div class="skillField" *ngFor="let skill of skills.controls; let i = index">
        <mat-form-field appearance="fill" class="field">
          <mat-label>Skill {{i+1}}</mat-label>
          <input matInput [formControlName]="i">
          <button matPrefix type="button" mat-icon-button color="warn" (click)="removeSkill(i)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
    <button [disabled]="false" type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</section>
