<section>
  <div class="top-bar">
    <div class="user card-adri">
      <div class="image" [ngStyle]="{'background-image': 'url(https://picsum.photos/100/100)'}">
      </div>
      <div class="user-name">
        <span>{{profile.firstName}}</span>
        <span>{{profile.lastName}}</span>
      </div>
    </div>
    <mat-form-field>
      <input [formControl]="search" matInput placeholder="Search user...">
    </mat-form-field>
    <div class="buttons">
      <button mat-raised-button (click)="showUsers()">users</button>
      <button mat-raised-button (click)="showFriends()">friends</button>
    </div>
  </div>
  <div class="list">
    <div [ngClass]="{'selected-user': (selectedUser === user.username) && checkFriend(user)}" (click)="setChatTarget(user); selectedUser=user.username" class="user card-adri" *ngFor="let user of filteredUsers; let index = index">
      <div class="image" [ngStyle]="{'background-image': getAvatar(user)}">
        <div class="status-circle" [ngClass]="{'green': connectedUsers.includes(user.username)}"></div>
<!--        <p class="notification-circle">99+</p>-->
        <p *ngIf="getMessageCount(user)" class="notification-circle">{{getMessageCount(user)}}</p>
      </div>

      <div class="user-name">
        <span>{{user.firstName}}</span>
        <span>{{user.lastName}}</span>
      </div>

      <mat-icon class="icon" style="color:green;" *ngIf="!checkFriend(user)" (click)="addFriend(user)">person_add</mat-icon>
      <mat-icon class="icon" style="color:red;" *ngIf="checkFriend(user)" (click)="onRemoveFriend(user)">person_remove</mat-icon>

    </div>
  </div>
</section>
