<section>
  <form class="form" [formGroup]="directoryForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label for="name">Name</mat-label>
      <input id="name" name="name" matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="path">Path</mat-label>
      <input id="path" name="path" matInput formControlName="path">
    </mat-form-field>
    <mat-form-field>
      <mat-label for="description">Description</mat-label>
      <textarea id="description" name="description" matInput formControlName="description"></textarea>
    </mat-form-field>
    <button color="primary" mat-raised-button [disabled]="!directoryForm.valid" type="submit">Create directory</button>
  </form>
</section>
