
section{
  padding: 5px;
  width: 100%;
  height: 100%;

  //background-color: grey;

  display: flex;
  flex-direction: row;

  gap: 5px;
  justify-content: center;
}

.panel{
  flex: 1 1;
  //background-color: lighten(gray, 10);
  padding: 5px;
}

.middle-panel{
  flex: 3 1;
  min-width: 5%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top-bar, .main-content, .weather{
  //background-color: lighten(gray, 20);
  //padding: 5px;
}

.top-bar{
  flex: 1 1;
  padding: 0;
}

.main-content{
  flex: 15 1;

  min-width: 5%;
}




.right-panel{
  display: flex;
  flex-direction: column;
}

.weather{
  padding: 20px;
  //flex: 1 1;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-list{
  display: flex;
  flex-direction: row;
  padding: 0;
  height: 100%;
}

.nav-list > a{
  height: 100%;
}




@media screen and (max-width: 1000px ){
  .left-panel,.right-panel{
    display: none;
  }
}
