<section class="container-fluid main">
  <div class="row h-100">
    <div class="col-md-2 h-100">

    </div>
    <div class="col-md-8 h-100">
      <mat-nav-list class="h-25 nav">
        <a mat-list-item routerLink="/home/directories">Directories</a>
        <a mat-list-item routerLink="/home/chat">Chat</a>
      </mat-nav-list>
      <div class="h-75">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-md-2 h-100">
      <app-weather></app-weather>
    </div>
  </div>
</section>
