.card-adri{
  border-radius: 5px;
  border: solid 1px lightgray;
  box-shadow: 2px 2px 2px lightgray;
  padding: 10px;
}

section{
  width: 100%;
  height: 100%;

  padding: 1px;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.top-bar{
  flex: 1 1;
}

.message-list{
  flex: 18 1;

  display: flex;
  flex-direction: column;
  gap: 5px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.message{
  height: fit-content;
  width: fit-content;
  max-width: 90%;
  line-height: 170%;
  overflow-wrap: break-word;
}

.message.left{
  align-self: flex-start;
  $color: lighten(lightblue, 15);
  background-color: $color;
  //border-color: $color;
  //box-shadow: 2px 2px 2px $color;
}

.message.right{
  align-self: flex-end;
  $color: lighten(orange, 40);
  background-color: $color;
  //border-color: $color;
  //box-shadow: 2px 2px 2px $color;
}

.message-input{
  flex: 1 1;

  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.message-input > mat-form-field{
  flex: 10 1;
}

.message-input > mat-icon{
  width: fit-content;
}
