<section>
  <div class="top-bar card-adri"></div>
  <div class="message-list card-adri">
    <p class="card-adri message left">coucoudddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
    <p class="card-adri message right">salutdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd</p>
  </div>
  <div class="message-input card-adri" >
    <textarea matInput placeholder="message..."></textarea>
    <mat-icon>send</mat-icon>
  </div>
</section>
