/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-valid{
  text-align: center;
  background-color: white;
  border: 1px solid green;
  color: green
}

.snackbar-invalid{
  text-align: center;
  background-color: white;
  border: 1px solid red;
  color: red
}

.card-adri{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
