/* You can add global styles to this file, and also import other style files */
@import "styles/global";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.snackbar-valid{
  text-align: center;
  background-color: white;
  border: 1px solid green;
  color: green
}

.snackbar-invalid{
  text-align: center;
  background-color: #ffffff;
  border: 1px solid red;
  color: red;

  margin: auto !important;
  max-width: 90% !important;
}

.mat-snack-bar-container.snackbar-invalid {
  max-width: fit-content;
}

.card-adri{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}

.mat-list-item-content{
  justify-content: center;
}

.mat-list-base{
  padding: 0 !important;
}

.mat-form-field-wrapper{
  padding: 0 !important;
}

::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: $ag-primary;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: darken($ag-primary, 20);
}
